<div class="col-md-5">
  <div class="row">
    <div class="col-md-5 text-center">
      <%= image_tag item.photo.url(:thumb), class: "img-thumbnail" %>
      <p>
        <%= link_to t('generic.edit'), edit_recipe_path(item), id: "edit_#{item.name}", class: 'btn btn-primary' %>
        <%= link_to t('generic.delete'), item, method: :delete, id: "delete_#{item.name}", class: 'btn btn-primary' %>
      </p>
    </div>
    <div class="col-md-7">
      <p>
        <%= link_to item.name, recipe_path(item) %>
      </p>
      <p>
        <strong><%= t('generic.preference') %>: </strong>
        <%= item.preference.name %>
      </p>
      <p>
        <strong><%= t('generic.food_type') %>: </strong>
        <%= item.food_type.name %>
      </p>
      <p>
          <strong><%= t('generic.kitchen') %>: </strong>
        <%= item.kitchen.name %>
      </p>
      <p>
        <strong><%= t('generic.difficulty') %>: </strong>
        <%= item.difficulty %>
      </p>
    </div>
  </div>
</div>
