<div class="row">
  <div class="col-md-6">
    <h1><%= @recipe.name %></h1>
    <p><strong><%= t('generic.send_by') %>: </strong><%= @recipe.link_send_by %></p>
    <p><strong><%= t('generic.kitchen') %>: </strong><%= @recipe.kitchen.name %></p>
    <p><strong><%= t('generic.food_type') %>: </strong><%= @recipe.food_type.name %></p>
    <p><strong><%= t('generic.preference') %>: </strong><%= @recipe.preference.name %></p>
    <p><strong><%= t('generic.serves') %>: </strong><%= @recipe.serves %></p>
    <p><strong><%= t('generic.prepare_time') %>: </strong><%= @recipe.time %></p>
    <p><strong><%= t('generic.difficulty') %>: </strong><%= @recipe.difficulty %></p>
  </div>
  <div class="col-md-6">
    <p><%= @recipe.photo %></p>
  </div>
</div>
