<%= render 'show' %>
<div class="row">
  <div class="col-md-6">
    <% unless @friend.nil? %>
      <h3><%= t('mail.success', friend: @friend[:name]) %></h3>
    <% end %>
    <%= form_tag(url: recommend_recipe_path(@recipe)) do |f| %>
    <div class="form-group">
      <%= label_tag :name, t('generic.name') %>
      <%= text_field_tag :name, '', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :mail, t('generic.email') %>
      <%= email_field_tag :mail, '', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :message, t('generic.message') %>
      <%= email_field_tag :message, '', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= submit_tag t('generic.submit'), id: 'submit', class: 'btn btn-primary' %>
    </div>
    <% end %>

  </div>
</div>
