<span><%= @recipe.name %></span>
<span><%= @recipe.user.name %></span>
<span><%= @recipe.kitchen.name %></span>
<span><%= @recipe.food_type.name %></span>
<span><%= @recipe.preference.name %></span>
<span><%= @recipe.serves %></span>
<span><%= @recipe.time %></span>
<span><%= @recipe.difficulty %></span>
<span><%= @recipe.time %></span>
<span><%= @recipe.ingredients %></span>
<span><%= @recipe.steps %></span>
<span><%= image_tag @recipe.photo.url(:thumb) %></span>
