<%= render 'show' %>
<div class="row">
  <div class="col-md-6">
    <p>
      <h2><%= t('generic.ingredients') %></h2>
      <%= @recipe.ingredients %>
    </p>
  </div>
  <div class="col-md-6">
    <p>
      <h2><%= t('generic.steps') %></h2>
      <%= @recipe.steps %>
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <% if user_signed_in? %>
      <p>
        <%= @recipe.link_add_to_favorite %>
        <%= @recipe.link_recommend_recipe %>
      </p>
    <%end %>
  </div>
</div>
