<div id="errors">
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<%= form_for(@user) do |f| %>
<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :city %>
  <%= f.text_field :city, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :facebook %>
  <%= f.text_field :facebook, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.label :twitter %>
  <%= f.text_field :twitter, class: 'form-control' %>
</div>

<div class="form-group">
  <% @kitchens.each do |kitchen| %>
    <%= check_box_tag "user[kitchens][]", kitchen.id, @user.kitchens.include?(kitchen), id: "kitchen_#{kitchen.id}" %>
    <%= f.label kitchen.name %>
  <% end %>
</div>
<div class="form-group">
  <hr>
</div>

<div class="form-group">
  <%= f.label :password %> <i><%= t('generic.leave_password_blank') %></i><br />
  <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
</div>

<div class="form-group">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
</div>

<div class="form-group">
  <%= f.label :current_password %> <i>(<%= t('generic.current_password') %>)</i><br />
  <%= f.password_field :current_password, class: 'form-control', autocomplete: "off" %>
</div>
<div class="form-group">
  <%= f.submit t('generic.submit'), id: 'submit', class: 'btn btn-primary' %>
</div>
<% end %>
