<div class="row">
  <section class="col-md-12">
    <h1><%= "#{t('generic.profile')} #{@user.name}" %></h1>
    <p><%= @user.email %></p>
    <p><%= @user.city %></p>
    <%= @user.link_facebook %>
    <%= @user.link_twitter %>
    <h2><%= "#{t('generic.recipes')} #{@user.name}" %></h2>
    <%= render partial: 'shared/recipes', collection: @user.recipes, as: :item %>
  </section>
</div>
