<% @recipe_favorites.each do |item| %>
  <span><%= image_tag item.photo.url(:thumb), class: "img_preview" %></span>
  <%= item.name %>
  <%= item.preference.name %>
  <%= item.food_type.name %>
  <%= item.kitchen.name %>
  <%= item.difficulty %>
<% end %>
