<%= render partial: 'shared/errors', locals: {item: @preference} %>
<%= form_for(@preference) do |f| %>
<div class="form-group">
  <%= f.label :name, t('generic.preference') %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit t('generic.submit'), id: 'submit', class: 'btn btn-primary' %>
</div>
<% end %>
