<%= render partial: 'shared/errors', locals: {item: @kitchen} %>
<%= form_for(@kitchen) do |f| %>
<div class="form-group">
  <%= f.label :name, t('generic.kitchen') %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form-group">
  <%= f.submit t('generic.submit'), id: 'submit', class: 'btn btn-primary' %>
</div>
<% end %>
