<!DOCTYPE html>
<html>
<head>
  <title><%= t('generic.project_name') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
  <%= render 'shared/nav_menu' %>
  <div class="container theme-showcase">
    <div class="row">
      <aside class="col-md-3">
        <h2><%= t('generic.kitchens') %></h2>
        <ul>
          <%= render partial: 'shared/side_menu', collection: @side_kitchens, as: :item %>
        </ul>
        <h2><%= t('generic.food_types') %></h2>
        <ul>
          <%= render partial: 'shared/side_menu', collection: @side_food_types, as: :item %>
        </ul>
        <h2><%= t('generic.preferences') %></h2>
        <ul>
          <%= render partial: 'shared/side_menu', collection: @side_preferences, as: :item %>
        </ul>
      </aside>
      <div class="col-md-9">
        <p>
          <%= flash[:notice] %>
        </p>
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
