<!DOCTYPE html>
<html>
<head>
  <title><%= t('generic.project_name') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body role="document">
  <%= render 'shared/nav_menu' %>
  <div class="container theme-showcase">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</body>
</html>
